<style type="index/css">

<link rel="stylesheet" type="paginainicial/html" href="paginainicial.html">
</style>


*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
font-family: system-ui;
  transition:400ms;
}

body{
  background-color:#F7DCB9;
}
main{
  display:flex;
}
header{
 padding:16px;
}
header h1{
  color:#B5C18E;
  font-size:1.2rem;
}
.container{
  display:flex;
  flex:5;
  width:100vw;
  height:100vh;
   
  
}
.menu{
  display:grid;
  flex:.5;
   width:100vw;
  height:90vh;
   background-color:#DEAC80;
  gap:1px;
  opacity:1;
  cursor:pointer;
}
.menu:hover{
  flex:1.2;
/* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.menu:hover p{
  display:block;
}
.icon-custom{
  color:#B99470;
}
.item-menu{
  display:flex;
  align-items:center;
  justify-content:start;
  color:lightblue;
  gap:1rem;
  width:100%;
  height:30px;
  padding-left:10px;
  
}
.item-menu:hover{
  background-color:gray;
}
.item-menu p{
  display:none;
}

.container{
  display:grid;
  grid-template-areas:
  "a a b"
  "c d e";
  gap:10px;
}



.item-container:nth-child(1) {
 
  grid-area:a;
   background-image: url("https://architizer-prod.imgix.net/media/mediadata/uploads/163326932693513.jpg?q=85&auto=format,compress&cs=strip&w=777&h=500&fit=crop");
background-size: cover;
}

.item-container:nth-child(2){
  grid-area:b;
  background-image: url("https://architizer-prod.imgix.net/media/mediadata/uploads/1669643094738b2-architecture-kabelovna-studios-alex-shoots-buildings-02.jpg?q=85&auto=format,compress&cs=strip&w=777&h=500&fit=crop");
background-size: cover;
background-repeat: no-repeat;
}

.item-container:nth-child(3){
  grid-area:c;
  background-color: #B5C18E;
    background-image: url("https://architizer-prod.imgix.net/media/mediadata/uploads/1663676397628Evah__Photo__Alex_Lesage_1.jpg?q=85&auto=format,compress&cs=strip&w=777&h=500&fit=crop");
background-size: cover;
background-repeat: no-repeat;
}

.item-container:nth-child(4){
  grid-area:d;
  background-image: url("https://architizer-prod.imgix.net/media/mediadata/uploads/16676375492412-5_Reception_area.jpg?q=85&auto=format,compress&cs=strip&w=777&h=500&fit=crop");
background-size: cover;
background-repeat: no-repeat;
}

.item-container:nth-child(5){
  grid-area:e;
  background-image: url("https://architizer-prod.imgix.net/media/mediadata/uploads/1682008770629image_06.jpg?q=85&auto=format,compress&cs=strip&w=777&h=500&fit=crop");
background-size: cover;
background-repeat: no-repeat;
}

.item-container:nth-child(1):hover {
  
  background-color: #A79277;
 
   display:block;
    grid-area:a;
background-size: contain;
background-repeat: no-repeat;
}

.item-container:nth-child(2):hover {
    
   background-color: #D1BB9E;
   display:block;
    grid-area:b;
background-size: contain;
background-repeat: no-repeat;
}

.item-container:nth-child(3):hover {

   background-color: #D1BB9E;
   display:block;
    grid-area:c;
background-size: contain;
background-repeat: no-repeat;
}

.item-container:nth-child(4):hover {
  
   background-color: #D1BB9E;
   display:block;
    grid-area:d;
 background-size: contain;
background-repeat: no-repeat;
}

.item-container:nth-child(5):hover {
 
   background-color: #D1BB9E;
   display:block;
    grid-area:e;
  background-size: contain;
background-repeat: no-repeat;


}




